# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

.DS_Store

# Build files
node_modules
dist
dist-ssr
*.local

# env
.env
.env.*
!.env.example