@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  font-family: Arial, sans-serif;
}

app-root {
  display: block;
  width: 100vw;
  height: 100vh;
}

/* Card Custom CSS */
.p-card {
  border: 1px solid var(--p-content-border-color);
  overflow: hidden;
}

.p-card-body {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.p-card-content {
  flex: 1;
  overflow: hidden;
}

code {
  color: #c9d1d9;
  background-color: #0d1117;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Input type='file' Custom CSS */
input[type='file']::file-selector-button {
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  color: var(--p-button-primary-color);
  background: var(--p-button-primary-background);
  border: 1px solid var(--p-button-primary-border-color);
  padding: var(--p-button-padding-y) var(--p-button-padding-x);
  font-size: 1rem;
  font-family: inherit;
  font-feature-settings: inherit;
  transition:
    background var(--p-button-transition-duration),
    color var(--p-button-transition-duration),
    border-color var(--p-button-transition-duration),
    outline-color var(--p-button-transition-duration),
    box-shadow var(--p-button-transition-duration);
  border-radius: var(--p-button-border-radius);
  outline-color: transparent;
  gap: var(--p-button-gap);
}